* {
  all: unset;
  font-family: Noto Sans;
}

.bar {
  /*background-color: #333;*/
}

.bg {
  background-color: rgba(33, 33, 33, 0.9);
}

.rounded {
  border-radius: 12px;
}

.rounded-lg {
  border-radius: 20px;
}

.active {
  color: #0099ff;
}

.calendar {
  padding: 8px;

  &:indeterminate {
    color: #888;
  }

  &.highlight {
    color: #09f;
  }

  &.button:hover {
    color: #09f;
  }
}

.calendar:selected {
  background-color: #09f;
}

.music_cover_art {
  background-size: cover;
  background-position: center;
  min-width: 170px;
  min-height: 170px;
  margin: 15px;
  margin-right: 0px;
  border-radius: 12px;
}

.music_info {
  margin: 15px;
}

.music_song_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.media_controls {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Fira Code Nerd Font;
  color: #09f;
  button {
    font-size: 24px;
  }
}

.clock {
  font-weight: bold;
  font-size: 36px;
}

progressbar {
  trough {
    min-height: 12px;
    border-radius: 6px;
    background-color: #444;
  }
  progress {
    min-height: 12px;
    border-radius: 6px;
    background-color: #09f;
  }
}
