* {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 600;
  color: #181926;
}

.bar {
  margin: 14px 14px 0 14px;
}

.ws-btn {
  font-family: 'FiraCode NF';
  font-weight: normal;
  padding: 5px 0 5px 7px;
  background: rgb(36, 39, 58);
  color: #6e738d;
  margin: 2px;
  font-size: 16px;
  border-radius: 5px;
}

.ws-btn:hover {
  color: #ffffff;
  font-weight: bold;
}

.ws-btn.populated {
  color: #cad3f5;
}

.ws-btn.active {
  background: rgb(147, 154, 183);
  color: #181926;
}

.komorebi-active-layout .label {
  margin-left: 4px;
  padding: 2px 6px;
  background: #f5a97f;
  border-radius: 5px;
}

.active-window-widget .label {
  margin-left: 4px;
  padding: 2px 6px;
  background: #a6da95;
  border-radius: 5px;
}

.clock-widget .label {
  padding: 2px 6px;
  background: #c6a0f6;
  border-radius: 5px;
}

.custom-widget {
  padding: 2px 6px;
  background: #7dc4e4;
  border-radius: 5px;
}

