[user]
        name = Ozoku
        email = 19756856+ozokuz@users.noreply.github.com
[color]
        ui = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[core]
        autocrlf = input
        sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[alias]
	s = status
	c = commit
	a = add
	ap = add -p
	ps = push
	pl = pull
	d = diff
